.global {
	padding-left: 240px;
}

.vertical-layout {
	width: 100%;
}

.vertical-layout {
	display: inline-block;
	width: 100%;
}

.width-100-percent {
	width: 100%;
}

.noPaddingLeftRight {
	padding-left: 0;
	padding-right: 0;
}
