.side-left {
	display: block;
	border-right: 1px solid #c3c3c3;
	background-color: #F5F5F5;
	height: 96%;
	position: fixed;
	top: 41px;
	left: 0;
	width: 240px;
	z-index: 100;
	.clavis_info {
		font-size: 11px;
		text-align: center;
		background-color: #E6E6E6;
		border-top: solid 1px #b2b2b2;
		padding: 5px;
		position: absolute;
		width: 100%;
		bottom: 0;
	}
	.glyphicon,
	.fa {
		font-size: 13px;
		color: #6b6b6b;
		margin-right: 10px;
	}
	.submenu_item {
		font-size: 9px;
		top: 0;
		margin-right: 0;
	}
	//http://stackoverflow.com/questions/16670931/hide-scroll-bar-but-still-being-able-to-scroll
	.nav-scroll-wrapper{
		height: 100%;
		width: 100%;
		overflow: hidden;
		position: relative;
	}
	.nav-scroll-content{
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: -15px;
		overflow: auto;
		margin-bottom: 25px;
	}

	.nav {
		margin: 10px;
		list-style: none;
		background-color: #E6E6E6;
		border: solid 1px #aaa;
		border-radius: 4px;
		width: 220px; //container width 240px -10px margin left and right side
		ul {
			padding-left: 0;
			text-indent: 10px;
			list-style: none;
		}
		> li, ul li {
			list-style-type: none;
			margin-top: 0;
			> a {
				display: block;
				line-height: 32px;
				padding: 5px 10px;
				color: #4C4C51;
				font-size: 12px;
				font-weight: normal;
				text-shadow: none !important;
				text-decoration: none;
				margin: 0;
				border-radius: 0;
				border-top: 1px solid #fff;
				border-bottom: 1px solid #aaa;
			}
			&:first-child a {
				border-top: none;
			}
			&:last-child a {
				border-bottom: none;
			}
			> a {
				&:hover, &.active {
					background-color: #D0D3DB;
					font-weight: bold;
					cursor: pointer;
				}
				&.active {
					border-left: solid 4px #E14E1D;
					border-bottom: 1px solid #aaa;
				}
			}
		}
		.submenu ul {
			background-color: #f9f9f9;
			a {
				border-top: none;
				border-bottom: none;
				padding: 2px 10px;
				&.active {
					background-color: #f9f9f9;
					border-left: 1px;
					border-bottom: none;
				}
			}
			li:last-child {
				border-bottom: 1px solid #aaa;
				> a {
					&.active {
						border-bottom: none;
					}
				}
			}
			.submenu ul {
				background-color: #f9f9f9;
				text-indent: 35px;
				li:last-child {
					border-bottom: none;
				}
				a {
					border-bottom: none;
					&.active {
						font-style: italic;
					}
				}
			}
		}
	}
}

#global_country_menu_item img {
	width: 13px;
	height: 13px;
	margin-right: 10px;
}
