<h2>
<span class="pageHelp" title="" data-html="true" data-placement="auto"
      data-original-title="Test Result Descriptions:<br>Pass -  Image was an exact match<br>Fail - Retailer image differs from Trusted source image<br>No Trusted Source - No image exists in trusted source<br>"><span
        id="pageTitle">1 VOT Image</span> – <span id="subTitle">Comparison Overview</span>  <span class="glyphicon glyphicon-question-sign"></span></span>
</h2>
