
<div class="index_page">
    <a href="#report/US/imaging">Click here to display a demo report</a>
    <div class="container">
        <div id="sortable" class="group">
            <div id="global-score-card"><li id="PSOGlobal" class="grid3 advanced square g2 ui-state-disabled"><a rel="globalTooltip" title="TOTAL SKU: 1" class="tooltipGlobal" data-toggle="popover">
                <i class="icon-info"></i>
            </a>
                <div class="metrics">
                    <div class="gauge globalGauge">
                        <ul class="actual ui-state-disabled">
                            <li class="atm ui-state-disabled">
                                Actual this month
                            </li>
                            <li class="hero ui-state-disabled">
                                0<span class="up">%</span>
                            </li>
                            <li class="flag ui-state-disabled">
                                <span class="icon-globe"></span>
                            </li>
                            <li class="countryName ui-state-disabled">
                                Global
                            </li>
                        </ul><svg width="300" height="225" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" stroke="none" stroke-width="0" fill="none" class="dxg dxbg-bar-gauge" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"><g class="dxbg-bars"><path stroke-linejoin="round" d="M 229.9030662740799 208.90306627407986 A 113 113 0 1 0 70.09693372592011 208.90306627407986 L 79.28932188134523 199.71067811865476 A 100 100 0 1 1 220.71067811865476 199.71067811865476 Z" fill="#e0e0e0"></path><path stroke-linejoin="round" d="M 176.37932611571733 19.122198995062547 A 113 113 0 0 0 70.09693372592011 208.90306627407986 L 79.28932188134523 199.71067811865476 A 100 100 0 0 1 173.34453638559054 31.763007960232343 Z" fill="#9a99c3"></path><path stroke-width="2" d="M 150 29 L 150 16" stroke="#9a99c3" transform="rotate(13.5,150,129)"></path><text x="181.1416115383778" y="14.787447759244856" text-anchor="middle" style="font-size: 12px; fill: rgb(154, 153, 195); font-family: Roboto, Arial; font-weight: 300; cursor: default;"><tspan x="181.1416115383778" dy="0">55 % </tspan></text><path stroke-linejoin="round" d="M 219.29646455628165 198.29646455628165 A 98 98 0 1 0 80.70353544371832 198.29646455628165 L 89.89592359914344 189.10407640085654 A 85 85 0 1 1 210.10407640085654 189.10407640085654 Z" fill="#e0e0e0"></path><path stroke-linejoin="round" d="M 202.5110259079417 46.25586330080253 A 98 98 0 0 0 80.70353544371832 198.29646455628165 L 89.89592359914344 189.10407640085654 A 85 85 0 0 1 195.54527757321472 57.23212633232873 Z" fill="#90b6c1"></path><path stroke-width="2" d="M 150 44 L 150 16" stroke="#90b6c1" transform="rotate(32.400000000000006,150,129)"></path><text x="221.47929445019815" y="30.485396333452968" text-anchor="middle" style="font-size: 12px; fill: rgb(144, 182, 193); font-family: Roboto, Arial; font-weight: 300; cursor: default;"><tspan x="221.47929445019815" dy="0">62 % </tspan></text><path stroke-linejoin="round" d="M 208.68986283848346 187.68986283848344 A 83 83 0 1 0 91.31013716151654 187.68986283848344 L 100.50252531694167 178.49747468305833 A 70 70 0 1 1 199.49747468305833 178.49747468305833 Z" fill="#e0e0e0"></path><path stroke-linejoin="round" d="M 0 0 Z" fill="#BA002A"></path><path stroke-width="2" d="M 150 59 L 150 16" stroke="#BA002A" transform="rotate(-135,150,129)"></path><text x="55.67195538971454" y="220.69129137347073" text-anchor="middle" style="font-size: 12px; fill: rgb(186, 0, 42); font-family: Roboto, Arial; font-weight: 300; cursor: default;"><tspan x="55.67195538971454" dy="0">0 % </tspan></text></g><g class="dxg-tooltip"><path fill="#000000" stroke="none" opacity="0.1" d="M 0 0" visibility="hidden"></path><path d="M 0 0 Z" visibility="hidden"></path><text x="0" y="0" text-anchor="middle" visibility="hidden" class="dxg-text" style="font-size: 12px; fill: rgb(255, 255, 255); font-family: Roboto, Arial; font-weight: 300; cursor: default;"><tspan x="0" dy="0">0</tspan></text></g><g class="dxg-tracker" stroke="none" stroke-width="0" fill="#000000" opacity="0.0001"><path stroke-linejoin="round" d="M 176.37932611571733 19.122198995062547 A 113 113 0 0 0 70.09693372592011 208.90306627407986 L 79.28932188134523 199.71067811865476 A 100 100 0 0 1 173.34453638559054 31.763007960232343 Z"></path><path stroke-linejoin="round" d="M 202.5110259079417 46.25586330080253 A 98 98 0 0 0 80.70353544371832 198.29646455628165 L 89.89592359914344 189.10407640085654 A 85 85 0 0 1 195.54527757321472 57.23212633232873 Z"></path><path stroke-linejoin="round" d="M 0 0 Z"></path></g></svg></div>
                </div>
                <div class="legend">
                    <span class="icon-round key2"></span>Target
                    <span class="icon-round key1"></span>Last Month’s Actual
                    <span class="icon-round key5"></span>This Month’s Actual
                </div>
                <div class="nia">
                    <div class="nia-icon">
                        <i class="icon-image"></i>
                    </div>
                    <div class="globalImageGauge niaGauge">
                        <div class="hero">
                            0<span class="up">%</span>
                        </div>
                        <svg width="150" height="104" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" stroke="none" stroke-width="0" fill="none" class="dxg dxbg-bar-gauge" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"><g class="dxbg-bars"><path stroke-linejoin="round" d="M 103.99137802864846 86.99137802864844 A 41 41 0 1 0 46.008621971351545 86.99137802864844 L 49.54415587728428 83.45584412271572 A 36 36 0 1 1 100.45584412271572 83.45584412271572 Z" fill="#e0e0e0"></path><path stroke-linejoin="round" d="M 84.57125991809212 18.13283326369526 A 41 41 0 0 0 46.008621971351545 86.99137802864844 L 49.54415587728428 83.45584412271572 A 36 36 0 0 1 83.40403309881259 22.994682865683643 Z" fill="#9a99c3"></path><path stroke-width="2" d="M 75 22 L 75 17" stroke="#9a99c3" transform="rotate(13.5,75,58)"></path><text x="89.3335453407526" y="13.798082027877562" text-anchor="middle" style="font-size: 12px; fill: rgb(154, 153, 195); font-family: Roboto, Arial; font-weight: 300; cursor: default;"><tspan x="89.3335453407526" dy="0">55 % </tspan></text><path stroke-linejoin="round" d="M 99.04163056034261 82.04163056034261 A 34 34 0 1 0 50.958369439657375 82.04163056034261 L 54.49390334559011 78.50609665440987 A 29 29 0 1 1 95.50609665440987 78.50609665440987 Z" fill="#e0e0e0"></path><path stroke-linejoin="round" d="M 84.48569760533381 25.35001468698394 A 34 34 0 0 0 50.958369439657375 82.04163056034261 L 54.49390334559011 78.50609665440987 A 29 29 0 0 1 83.09074207513765 30.151483115368656 Z" fill="#90b6c1"></path><path stroke-width="2" d="M 75 29 L 75 17" stroke="#90b6c1" transform="rotate(16.200000000000017,75,58)"></path><text x="92.1300539108087" y="14.409139504746683" text-anchor="middle" style="font-size: 12px; fill: rgb(144, 182, 193); font-family: Roboto, Arial; font-weight: 300; cursor: default;"><tspan x="92.1300539108087" dy="0">56 % </tspan></text><path stroke-linejoin="round" d="M 94.09188309203678 77.09188309203678 A 27 27 0 1 0 55.90811690796321 77.09188309203678 L 59.44365081389595 73.55634918610404 A 22 22 0 1 1 90.55634918610404 73.55634918610404 Z" fill="#e0e0e0"></path><path stroke-linejoin="round" d="M 0 0 Z" fill="#BA002A"></path><path stroke-width="2" d="M 75 36 L 75 17" stroke="#BA002A" transform="rotate(-135,75,58)"></path><text x="31.583643635145975" y="98.7796031280393" text-anchor="middle" style="font-size: 12px; fill: rgb(186, 0, 42); font-family: Roboto, Arial; font-weight: 300; cursor: default;"><tspan x="31.583643635145975" dy="0">0 % </tspan></text></g><g class="dxg-tooltip"><path fill="#000000" stroke="none" opacity="0.1" d="M 0 0" visibility="hidden"></path><path d="M 0 0 Z" visibility="hidden"></path><text x="0" y="0" text-anchor="middle" visibility="hidden" class="dxg-text" style="font-size: 12px; fill: rgb(255, 255, 255); font-family: Roboto, Arial; font-weight: 300; cursor: default;"><tspan x="0" dy="0">0</tspan></text></g><g class="dxg-tracker" stroke="none" stroke-width="0" fill="#000000" opacity="0.0001"><path stroke-linejoin="round" d="M 84.57125991809212 18.13283326369526 A 41 41 0 0 0 46.008621971351545 86.99137802864844 L 49.54415587728428 83.45584412271572 A 36 36 0 0 1 83.40403309881259 22.994682865683643 Z"></path><path stroke-linejoin="round" d="M 84.48569760533381 25.35001468698394 A 34 34 0 0 0 50.958369439657375 82.04163056034261 L 54.49390334559011 78.50609665440987 A 29 29 0 0 1 83.09074207513765 30.151483115368656 Z"></path><path stroke-linejoin="round" d="M 0 0 Z"></path></g></svg></div>
                </div>
                <div class="nia">
                    <div class="nia-icon">
                        <i class="icon-name"></i>
                    </div>
                    <div class="globalNameGauge niaGauge">
                        <div class="hero">
                            100<span class="up">%</span>
                        </div>
                        <svg width="150" height="104" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" stroke="none" stroke-width="0" fill="none" class="dxg dxbg-bar-gauge" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"><g class="dxbg-bars"><path stroke-linejoin="round" d="M 103.99137802864846 86.99137802864844 A 41 41 0 1 0 46.008621971351545 86.99137802864844 L 49.54415587728428 83.45584412271572 A 36 36 0 1 1 100.45584412271572 83.45584412271572 Z" fill="#e0e0e0"></path><path stroke-linejoin="round" d="M 84.57125991809212 18.13283326369526 A 41 41 0 0 0 46.008621971351545 86.99137802864844 L 49.54415587728428 83.45584412271572 A 36 36 0 0 1 83.40403309881259 22.994682865683643 Z" fill="#9a99c3"></path><path stroke-width="2" d="M 75 22 L 75 17" stroke="#9a99c3" transform="rotate(13.5,75,58)"></path><text x="89.3335453407526" y="13.798082027877562" text-anchor="middle" style="font-size: 12px; fill: rgb(154, 153, 195); font-family: Roboto, Arial; font-weight: 300; cursor: default;"><tspan x="89.3335453407526" dy="0">55 % </tspan></text><path stroke-linejoin="round" d="M 99.04163056034261 82.04163056034261 A 34 34 0 1 0 50.958369439657375 82.04163056034261 L 54.49390334559011 78.50609665440987 A 29 29 0 1 1 95.50609665440987 78.50609665440987 Z" fill="#e0e0e0"></path><path stroke-linejoin="round" d="M 65.5143023946662 25.350014686983933 A 34 34 0 0 0 50.958369439657375 82.04163056034261 L 54.49390334559011 78.50609665440987 A 29 29 0 0 1 66.90925792486236 30.151483115368652 Z" fill="#90b6c1"></path><path stroke-width="2" d="M 75 29 L 75 17" stroke="#90b6c1" transform="rotate(-16.200000000000003,75,58)"></path><text x="57.86994608919133" y="14.409139504746676" text-anchor="middle" style="font-size: 12px; fill: rgb(144, 182, 193); font-family: Roboto, Arial; font-weight: 300; cursor: default;"><tspan x="57.86994608919133" dy="0">44 % </tspan></text><path stroke-linejoin="round" d="M 94.09188309203678 77.09188309203678 A 27 27 0 1 0 55.90811690796321 77.09188309203678 L 59.44365081389595 73.55634918610404 A 22 22 0 1 1 90.55634918610404 73.55634918610404 Z" fill="#e0e0e0"></path><path stroke-linejoin="round" d="M 94.09188309203678 77.09188309203678 A 27 27 0 1 0 55.90811690796321 77.09188309203678 L 59.44365081389595 73.55634918610404 A 22 22 0 1 1 90.55634918610404 73.55634918610404 Z" fill="#509E60"></path><path stroke-width="2" d="M 75 36 L 75 17" stroke="#509E60" transform="rotate(135,75,58)"></path><text x="118.41635636485401" y="98.7796031280393" text-anchor="middle" style="font-size: 12px; fill: rgb(80, 158, 96); font-family: Roboto, Arial; font-weight: 300; cursor: default;"><tspan x="118.41635636485401" dy="0">100 % </tspan></text></g><g class="dxg-tooltip"><path fill="#000000" stroke="none" opacity="0.1" d="M 0 0" visibility="hidden"></path><path d="M 0 0 Z" visibility="hidden"></path><text x="0" y="0" text-anchor="middle" visibility="hidden" class="dxg-text" style="font-size: 12px; fill: rgb(255, 255, 255); font-family: Roboto, Arial; font-weight: 300; cursor: default;"><tspan x="0" dy="0">0</tspan></text></g><g class="dxg-tracker" stroke="none" stroke-width="0" fill="#000000" opacity="0.0001"><path stroke-linejoin="round" d="M 84.57125991809212 18.13283326369526 A 41 41 0 0 0 46.008621971351545 86.99137802864844 L 49.54415587728428 83.45584412271572 A 36 36 0 0 1 83.40403309881259 22.994682865683643 Z"></path><path stroke-linejoin="round" d="M 65.5143023946662 25.350014686983933 A 34 34 0 0 0 50.958369439657375 82.04163056034261 L 54.49390334559011 78.50609665440987 A 29 29 0 0 1 66.90925792486236 30.151483115368652 Z"></path><path stroke-linejoin="round" d="M 94.09188309203678 77.09188309203678 A 27 27 0 1 0 55.90811690796321 77.09188309203678 L 59.44365081389595 73.55634918610404 A 22 22 0 1 1 90.55634918610404 73.55634918610404 Z"></path></g></svg></div>
                </div>
                <div class="nia">
                    <div class="nia-icon">
                        <i class="icon-available"></i>
                    </div>
                    <div class="globalAvailabeGauge niaGauge">
                        <div class="hero">
                            0<span class="up">%</span>
                        </div>
                        <svg width="150" height="104" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" stroke="none" stroke-width="0" fill="none" class="dxg dxbg-bar-gauge" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"><g class="dxbg-bars"><path stroke-linejoin="round" d="M 103.99137802864846 86.99137802864844 A 41 41 0 1 0 46.008621971351545 86.99137802864844 L 49.54415587728428 83.45584412271572 A 36 36 0 1 1 100.45584412271572 83.45584412271572 Z" fill="#e0e0e0"></path><path stroke-linejoin="round" d="M 84.57125991809212 18.13283326369526 A 41 41 0 0 0 46.008621971351545 86.99137802864844 L 49.54415587728428 83.45584412271572 A 36 36 0 0 1 83.40403309881259 22.994682865683643 Z" fill="#9a99c3"></path><path stroke-width="2" d="M 75 22 L 75 17" stroke="#9a99c3" transform="rotate(13.5,75,58)"></path><text x="89.3335453407526" y="13.798082027877562" text-anchor="middle" style="font-size: 12px; fill: rgb(154, 153, 195); font-family: Roboto, Arial; font-weight: 300; cursor: default;"><tspan x="89.3335453407526" dy="0">55 % </tspan></text><path stroke-linejoin="round" d="M 99.04163056034261 82.04163056034261 A 34 34 0 1 0 50.958369439657375 82.04163056034261 L 54.49390334559011 78.50609665440987 A 29 29 0 1 1 95.50609665440987 78.50609665440987 Z" fill="#e0e0e0"></path><path stroke-linejoin="round" d="M 108.73189984469225 62.26132994118634 A 34 34 0 1 0 50.958369439657375 82.04163056034261 L 54.49390334559011 78.50609665440987 A 29 29 0 1 1 103.77132633811986 61.63466377336482 Z" fill="#90b6c1"></path><path stroke-width="2" d="M 75 29 L 75 17" stroke="#90b6c1" transform="rotate(97.19999999999999,75,58)"></path><text x="135.91584266070893" y="69.34186161835379" text-anchor="middle" style="font-size: 12px; fill: rgb(144, 182, 193); font-family: Roboto, Arial; font-weight: 300; cursor: default;"><tspan x="135.91584266070893" dy="0">86 % </tspan></text><path stroke-linejoin="round" d="M 94.09188309203678 77.09188309203678 A 27 27 0 1 0 55.90811690796321 77.09188309203678 L 59.44365081389595 73.55634918610404 A 22 22 0 1 1 90.55634918610404 73.55634918610404 Z" fill="#e0e0e0"></path><path stroke-linejoin="round" d="M 0 0 Z" fill="#BA002A"></path><path stroke-width="2" d="M 75 36 L 75 17" stroke="#BA002A" transform="rotate(-135,75,58)"></path><text x="31.583643635145975" y="98.7796031280393" text-anchor="middle" style="font-size: 12px; fill: rgb(186, 0, 42); font-family: Roboto, Arial; font-weight: 300; cursor: default;"><tspan x="31.583643635145975" dy="0">0 % </tspan></text></g><g class="dxg-tooltip"><path fill="#000000" stroke="none" opacity="0.1" d="M 0 0" visibility="hidden"></path><path d="M 0 0 Z" visibility="hidden"></path><text x="0" y="0" text-anchor="middle" visibility="hidden" class="dxg-text" style="font-size: 12px; fill: rgb(255, 255, 255); font-family: Roboto, Arial; font-weight: 300; cursor: default;"><tspan x="0" dy="0">0</tspan></text></g><g class="dxg-tracker" stroke="none" stroke-width="0" fill="#000000" opacity="0.0001"><path stroke-linejoin="round" d="M 84.57125991809212 18.13283326369526 A 41 41 0 0 0 46.008621971351545 86.99137802864844 L 49.54415587728428 83.45584412271572 A 36 36 0 0 1 83.40403309881259 22.994682865683643 Z"></path><path stroke-linejoin="round" d="M 108.73189984469225 62.26132994118634 A 34 34 0 1 0 50.958369439657375 82.04163056034261 L 54.49390334559011 78.50609665440987 A 29 29 0 1 1 103.77132633811986 61.63466377336482 Z"></path><path stroke-linejoin="round" d="M 0 0 Z"></path></g></svg></div>
                </div>
            </li></div>
            <div><div class="advancedLogo">ADVANCED</div>
                <ul id="advancedCountries" class="connectedSortable"><li class="grid3 square opaque ui-state-default"><div data-clickable="true" data-country-id="CN">
                    <a class="tooltipGlobal" data-toggle="popover" title="TOTAL SKU: 1">
                        <i class="icon-info"></i>
                    </a>
                    <div class="metrics">
                        <div class="gauge countryGauge"><svg width="300" height="225" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" stroke="none" stroke-width="0" fill="none" class="dxg dxbg-bar-gauge" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"><g class="dxbg-bars"><path stroke-linejoin="round" d="M 229.9030662740799 208.90306627407986 A 113 113 0 1 0 70.09693372592011 208.90306627407986 L 79.28932188134523 199.71067811865476 A 100 100 0 1 1 220.71067811865476 199.71067811865476 Z" fill="#e0e0e0"></path><path stroke-linejoin="round" d="M 241.41892036436906 62.580266490950535 A 113 113 0 1 0 70.09693372592011 208.90306627407986 L 79.28932188134523 199.71067811865476 A 100 100 0 1 1 230.90169943749476 70.22147477075268 Z" fill="#9a99c3"></path><path stroke-width="2" d="M 150 29 L 150 16" stroke="#9a99c3" transform="rotate(54,150,129)"></path><text x="257.922867049618" y="61.9375280689428" text-anchor="middle" style="font-size: 12px; fill: rgb(154, 153, 195); font-family: Roboto, Arial; font-weight: 300; cursor: default;"><tspan x="257.922867049618" dy="0">70 % </tspan></text><path stroke-linejoin="round" d="M 219.29646455628165 198.29646455628165 A 98 98 0 1 0 80.70353544371832 198.29646455628165 L 89.89592359914344 189.10407640085654 A 85 85 0 1 1 210.10407640085654 189.10407640085654 Z" fill="#e0e0e0"></path><path stroke-linejoin="round" d="M 246.7934573783235 113.66942242605738 A 98 98 0 1 0 80.70353544371832 198.29646455628165 L 89.89592359914344 189.10407640085654 A 85 85 0 1 1 233.9535089505867 115.70307047158038 Z" fill="#90b6c1"></path><path stroke-width="2" d="M 150 44 L 150 16" stroke="#90b6c1" transform="rotate(81,150,129)"></path><text x="281.7576246353914" y="114.8211345860677" text-anchor="middle" style="font-size: 12px; fill: rgb(144, 182, 193); font-family: Roboto, Arial; font-weight: 300; cursor: default;"><tspan x="281.7576246353914" dy="0">80 % </tspan></text><path stroke-linejoin="round" d="M 208.68986283848346 187.68986283848344 A 83 83 0 1 0 91.31013716151654 187.68986283848344 L 100.50252531694167 178.49747468305833 A 70 70 0 1 1 199.49747468305833 178.49747468305833 Z" fill="#e0e0e0"></path><path stroke-linejoin="round" d="M 0 0 Z" fill="#BA002A"></path><path stroke-width="2" d="M 150 59 L 150 16" stroke="#BA002A" transform="rotate(-135,150,129)"></path><text x="55.67195538971454" y="220.69129137347073" text-anchor="middle" style="font-size: 12px; fill: rgb(186, 0, 42); font-family: Roboto, Arial; font-weight: 300; cursor: default;"><tspan x="55.67195538971454" dy="0">0 % </tspan></text></g><g class="dxg-tooltip"><path fill="#000000" stroke="none" opacity="0.1" d="M 0 0" visibility="hidden"></path><path d="M 0 0 Z" visibility="hidden"></path><text x="0" y="0" text-anchor="middle" visibility="hidden" class="dxg-text" style="font-size: 12px; fill: rgb(255, 255, 255); font-family: Roboto, Arial; font-weight: 300; cursor: default;"><tspan x="0" dy="0">0</tspan></text></g><g class="dxg-tracker" stroke="none" stroke-width="0" fill="#000000" opacity="0.0001"><path stroke-linejoin="round" d="M 241.41892036436906 62.580266490950535 A 113 113 0 1 0 70.09693372592011 208.90306627407986 L 79.28932188134523 199.71067811865476 A 100 100 0 1 1 230.90169943749476 70.22147477075268 Z"></path><path stroke-linejoin="round" d="M 246.7934573783235 113.66942242605738 A 98 98 0 1 0 80.70353544371832 198.29646455628165 L 89.89592359914344 189.10407640085654 A 85 85 0 1 1 233.9535089505867 115.70307047158038 Z"></path><path stroke-linejoin="round" d="M 0 0 Z"></path></g></svg></div>
                        <ul class="actual ui-state-disabled">
                            <li class="atm ui-state-disabled">
                                Actual this month
                            </li>
                            <li class="hero ui-state-disabled">
                                <span class="unavailable">Unavailable</span>
                            </li>
                            <li class="flag ui-state-disabled">
                                <img alt="" height="35" src="/images/flags/CN.svg" width="35">
                            </li><li class="countryName ui-state-disabled">
                            CN
                        </li>

                        </ul>
                    </div>
                    <div class="legend">
                        <span class="icon-round key2"></span>Target
                        <span class="icon-round key1"></span>Last Month’s Actual
                        <span class="icon-round key5"></span>This Month’s Actual
                    </div>
                    <div class="indicators">
                        <ul>
                            <li class="indicator-image ui-state-disabled">
                                <span class="icon-image"></span>
                                <span class="icon-down_arrow key5"></span>
                            </li>
                            <li class="indicator-name ui-state-disabled">
                                <span class="icon-name"></span>
                                <span class="icon-up_arrow key3"></span>
                            </li>
                            <li class="indicator-available ui-state-disabled">
                                <span class="icon-available"></span>
                                <span class="icon-down_arrow key5"></span>
                            </li>
                            <li class="indicator-target ui-state-disabled">
                                <span class="icon-target"></span>
                                <span class="icon-down_arrow key5"></span>
                <span class="difference">
                        -80%
                </span>
                            </li>
                        </ul>
                    </div>
                </div></li><li class="grid3 square opaque ui-state-default"><div data-clickable="true" data-country-id="UK">
                    <a class="tooltipGlobal" data-toggle="popover" title="TOTAL SKU: 4423">
                        <i class="icon-info"></i>
                    </a>
                    <div class="metrics">
                        <div class="gauge countryGauge"><svg width="300" height="225" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" stroke="none" stroke-width="0" fill="none" class="dxg dxbg-bar-gauge" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"><g class="dxbg-bars"><path stroke-linejoin="round" d="M 229.9030662740799 208.90306627407986 A 113 113 0 1 0 70.09693372592011 208.90306627407986 L 79.28932188134523 199.71067811865476 A 100 100 0 1 1 220.71067811865476 199.71067811865476 Z" fill="#e0e0e0"></path><path stroke-linejoin="round" d="M 241.41892036436906 62.580266490950535 A 113 113 0 1 0 70.09693372592011 208.90306627407986 L 79.28932188134523 199.71067811865476 A 100 100 0 1 1 230.90169943749476 70.22147477075268 Z" fill="#9a99c3"></path><path stroke-width="2" d="M 150 29 L 150 16" stroke="#9a99c3" transform="rotate(54,150,129)"></path><text x="257.922867049618" y="61.9375280689428" text-anchor="middle" style="font-size: 12px; fill: rgb(154, 153, 195); font-family: Roboto, Arial; font-weight: 300; cursor: default;"><tspan x="257.922867049618" dy="0">70 % </tspan></text><path stroke-linejoin="round" d="M 219.29646455628165 198.29646455628165 A 98 98 0 1 0 80.70353544371832 198.29646455628165 L 89.89592359914344 189.10407640085654 A 85 85 0 1 1 210.10407640085654 189.10407640085654 Z" fill="#e0e0e0"></path><path stroke-linejoin="round" d="M 0 0 Z" fill="#90b6c1"></path><path stroke-width="2" d="M 150 44 L 150 16" stroke="#90b6c1" transform="rotate(-135,150,129)"></path><text x="55.67195538971454" y="220.69129137347073" text-anchor="middle" style="font-size: 12px; fill: rgb(144, 182, 193); font-family: Roboto, Arial; font-weight: 300; cursor: default;"><tspan x="55.67195538971454" dy="0">0 % </tspan></text><path stroke-linejoin="round" d="M 208.68986283848346 187.68986283848344 A 83 83 0 1 0 91.31013716151654 187.68986283848344 L 100.50252531694167 178.49747468305833 A 70 70 0 1 1 199.49747468305833 178.49747468305833 Z" fill="#e0e0e0"></path><path stroke-linejoin="round" d="M 225.1006453546796 93.66031880009899 A 83 83 0 1 0 91.31013716151654 187.68986283848344 L 100.50252531694167 178.49747468305833 A 70 70 0 1 1 213.33789367262136 99.19544959044492 Z" fill="#509E60"></path><path stroke-width="2" d="M 150 59 L 150 16" stroke="#509E60" transform="rotate(64.80000000000001,150,129)"></path><text x="270.703928798967" y="81.79945885412212" text-anchor="middle" style="font-size: 12px; fill: rgb(80, 158, 96); font-family: Roboto, Arial; font-weight: 300; cursor: default;"><tspan x="270.703928798967" dy="0">74 % </tspan></text></g><g class="dxg-tooltip"><path fill="#000000" stroke="none" opacity="0.1" d="M 0 0" visibility="hidden"></path><path d="M 0 0 Z" visibility="hidden"></path><text x="0" y="0" text-anchor="middle" visibility="hidden" class="dxg-text" style="font-size: 12px; fill: rgb(255, 255, 255); font-family: Roboto, Arial; font-weight: 300; cursor: default;"><tspan x="0" dy="0">0</tspan></text></g><g class="dxg-tracker" stroke="none" stroke-width="0" fill="#000000" opacity="0.0001"><path stroke-linejoin="round" d="M 241.41892036436906 62.580266490950535 A 113 113 0 1 0 70.09693372592011 208.90306627407986 L 79.28932188134523 199.71067811865476 A 100 100 0 1 1 230.90169943749476 70.22147477075268 Z"></path><path stroke-linejoin="round" d="M 0 0 Z"></path><path stroke-linejoin="round" d="M 225.1006453546796 93.66031880009899 A 83 83 0 1 0 91.31013716151654 187.68986283848344 L 100.50252531694167 178.49747468305833 A 70 70 0 1 1 213.33789367262136 99.19544959044492 Z"></path></g></svg></div>
                        <ul class="actual ui-state-disabled">
                            <li class="atm ui-state-disabled">
                                Actual this month
                            </li>
                            <li class="hero ui-state-disabled">
                                74<span class="up">%</span>
                            </li>
                            <li class="flag ui-state-disabled">
                                <img alt="" height="35" src="/images/flags/UK.svg" width="35">
                            </li><li class="countryName ui-state-disabled">
                            UK
                        </li>

                        </ul>
                    </div>
                    <div class="legend">
                        <span class="icon-round key2"></span>Target
                        <span class="icon-round key1"></span>Last Month’s Actual
                        <span class="icon-round key3"></span>This Month’s Actual
                    </div>
                    <div class="indicators">
                        <ul>
                            <li class="indicator-image ui-state-disabled">
                                <span class="icon-image"></span>
                                <span class="icon-up_arrow key3"></span>
                            </li>
                            <li class="indicator-name ui-state-disabled">
                                <span class="icon-name"></span>
                                <span class="icon-up_arrow key5"></span>
                            </li>
                            <li class="indicator-available ui-state-disabled">
                                <span class="icon-available"></span>
                                <span class="icon-up_arrow key3"></span>
                            </li>
                            <li class="indicator-target ui-state-disabled">
                                <span class="icon-target"></span>
                                <span class="icon-up_arrow key3"></span>
                <span class="difference">
                        74%
                </span>
                            </li>
                        </ul>
                    </div>
                </div></li><li class="grid3 square opaque ui-state-default"><div data-clickable="true" data-country-id="US">
                    <a class="tooltipGlobal" data-toggle="popover" title="TOTAL SKU: 5485">
                        <i class="icon-info"></i>
                    </a>
                    <div class="metrics">
                        <div class="gauge countryGauge"><svg width="300" height="225" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" stroke="none" stroke-width="0" fill="none" class="dxg dxbg-bar-gauge" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"><g class="dxbg-bars"><path stroke-linejoin="round" d="M 229.9030662740799 208.90306627407986 A 113 113 0 1 0 70.09693372592011 208.90306627407986 L 79.28932188134523 199.71067811865476 A 100 100 0 1 1 220.71067811865476 199.71067811865476 Z" fill="#e0e0e0"></path><path stroke-linejoin="round" d="M 139.36576059500788 16.501497999851964 A 113 113 0 0 0 70.09693372592011 208.90306627407986 L 79.28932188134523 199.71067811865476 A 100 100 0 0 1 140.58916866814857 29.443803539692 Z" fill="#9a99c3"></path><path stroke-width="2" d="M 150 29 L 150 16" stroke="#9a99c3" transform="rotate(-5.400000000000006,150,129)"></path><text x="137.44595100331017" y="11.944103139662403" text-anchor="middle" style="font-size: 12px; fill: rgb(154, 153, 195); font-family: Roboto, Arial; font-weight: 300; cursor: default;"><tspan x="137.44595100331017" dy="0">48 % </tspan></text><path stroke-linejoin="round" d="M 219.29646455628165 198.29646455628165 A 98 98 0 1 0 80.70353544371832 198.29646455628165 L 89.89592359914344 189.10407640085654 A 85 85 0 1 1 210.10407640085654 189.10407640085654 Z" fill="#e0e0e0"></path><path stroke-linejoin="round" d="M 0 0 Z" fill="#90b6c1"></path><path stroke-width="2" d="M 150 44 L 150 16" stroke="#90b6c1" transform="rotate(-135,150,129)"></path><text x="55.67195538971454" y="220.69129137347073" text-anchor="middle" style="font-size: 12px; fill: rgb(144, 182, 193); font-family: Roboto, Arial; font-weight: 300; cursor: default;"><tspan x="55.67195538971454" dy="0">0 % </tspan></text><path stroke-linejoin="round" d="M 208.68986283848346 187.68986283848344 A 83 83 0 1 0 91.31013716151654 187.68986283848344 L 100.50252531694167 178.49747468305833 A 70 70 0 1 1 199.49747468305833 178.49747468305833 Z" fill="#e0e0e0"></path><path stroke-linejoin="round" d="M 146.0901645910997 46.092140378156486 A 83 83 0 0 0 91.31013716151654 187.68986283848344 L 100.50252531694167 178.49747468305833 A 70 70 0 0 1 146.70254845032503 59.077708752662105 Z" fill="#509E60"></path><path stroke-width="2" d="M 150 59 L 150 16" stroke="#509E60" transform="rotate(-2.6999999999999886,150,129)"></path><text x="143.71599947533372" y="11.536101329662486" text-anchor="middle" style="font-size: 12px; fill: rgb(80, 158, 96); font-family: Roboto, Arial; font-weight: 300; cursor: default;"><tspan x="143.71599947533372" dy="0">49 % </tspan></text></g><g class="dxg-tooltip"><path fill="#000000" stroke="none" opacity="0.1" d="M 0 0" visibility="hidden"></path><path d="M 0 0 Z" visibility="hidden"></path><text x="0" y="0" text-anchor="middle" visibility="hidden" class="dxg-text" style="font-size: 12px; fill: rgb(255, 255, 255); font-family: Roboto, Arial; font-weight: 300; cursor: default;"><tspan x="0" dy="0">0</tspan></text></g><g class="dxg-tracker" stroke="none" stroke-width="0" fill="#000000" opacity="0.0001"><path stroke-linejoin="round" d="M 139.36576059500788 16.501497999851964 A 113 113 0 0 0 70.09693372592011 208.90306627407986 L 79.28932188134523 199.71067811865476 A 100 100 0 0 1 140.58916866814857 29.443803539692 Z"></path><path stroke-linejoin="round" d="M 0 0 Z"></path><path stroke-linejoin="round" d="M 146.0901645910997 46.092140378156486 A 83 83 0 0 0 91.31013716151654 187.68986283848344 L 100.50252531694167 178.49747468305833 A 70 70 0 0 1 146.70254845032503 59.077708752662105 Z"></path></g></svg></div>
                        <ul class="actual ui-state-disabled">
                            <li class="atm ui-state-disabled">
                                Actual this month
                            </li>
                            <li class="hero ui-state-disabled">
                                49<span class="up">%</span>
                            </li>
                            <li class="flag ui-state-disabled">
                                <img alt="" height="35" src="/images/flags/US.svg" width="35">
                            </li><li class="countryName ui-state-disabled">
                            US
                        </li>

                        </ul>
                    </div>
                    <div class="legend">
                        <span class="icon-round key2"></span>Target
                        <span class="icon-round key1"></span>Last Month’s Actual
                        <span class="icon-round key3"></span>This Month’s Actual
                    </div>
                    <div class="indicators">
                        <ul>
                            <li class="indicator-image ui-state-disabled">
                                <span class="icon-image"></span>
                                <span class="icon-up_arrow key5"></span>
                            </li>
                            <li class="indicator-name ui-state-disabled">
                                <span class="icon-name"></span>
                                <span class="icon-up_arrow key5"></span>
                            </li>
                            <li class="indicator-available ui-state-disabled">
                                <span class="icon-available"></span>
                                <span class="icon-up_arrow key3"></span>
                            </li>
                            <li class="indicator-target ui-state-disabled">
                                <span class="icon-target"></span>
                                <span class="icon-up_arrow key3"></span>
                <span class="difference">
                        49%
                </span>
                            </li>
                        </ul>
                    </div>
                </div></li><li class="grid3 square opaque ui-state-default"><div data-clickable="true" data-country-id="FR">
                    <a class="tooltipGlobal" data-toggle="popover" title="TOTAL SKU: 264">
                        <i class="icon-info"></i>
                    </a>
                    <div class="metrics">
                        <div class="gauge countryGauge"><svg width="300" height="225" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" stroke="none" stroke-width="0" fill="none" class="dxg dxbg-bar-gauge" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"><g class="dxbg-bars"><path stroke-linejoin="round" d="M 229.9030662740799 208.90306627407986 A 113 113 0 1 0 70.09693372592011 208.90306627407986 L 79.28932188134523 199.71067811865476 A 100 100 0 1 1 220.71067811865476 199.71067811865476 Z" fill="#e0e0e0"></path><path stroke-linejoin="round" d="M 128.82591145181314 18.001540667658176 A 113 113 0 0 0 70.09693372592011 208.90306627407986 L 79.28932188134523 199.71067811865476 A 100 100 0 0 1 131.26186854142756 30.77127492713113 Z" fill="#9a99c3"></path><path stroke-width="2" d="M 150 29 L 150 16" stroke="#9a99c3" transform="rotate(-10.799999999999997,150,129)"></path><text x="125.00333263426437" y="13.571583060662775" text-anchor="middle" style="font-size: 12px; fill: rgb(154, 153, 195); font-family: Roboto, Arial; font-weight: 300; cursor: default;"><tspan x="125.00333263426437" dy="0">46 % </tspan></text><path stroke-linejoin="round" d="M 219.29646455628165 198.29646455628165 A 98 98 0 1 0 80.70353544371832 198.29646455628165 L 89.89592359914344 189.10407640085654 A 85 85 0 1 1 210.10407640085654 189.10407640085654 Z" fill="#e0e0e0"></path><path stroke-linejoin="round" d="M 0 0 Z" fill="#90b6c1"></path><path stroke-width="2" d="M 150 44 L 150 16" stroke="#90b6c1" transform="rotate(-135,150,129)"></path><text x="55.67195538971454" y="220.69129137347073" text-anchor="middle" style="font-size: 12px; fill: rgb(144, 182, 193); font-family: Roboto, Arial; font-weight: 300; cursor: default;"><tspan x="55.67195538971454" dy="0">0 % </tspan></text><path stroke-linejoin="round" d="M 208.68986283848346 187.68986283848344 A 83 83 0 1 0 91.31013716151654 187.68986283848344 L 100.50252531694167 178.49747468305833 A 70 70 0 1 1 199.49747468305833 178.49747468305833 Z" fill="#e0e0e0"></path><path stroke-linejoin="round" d="M 105.5263760167433 58.92078218333273 A 83 83 0 0 0 91.31013716151654 187.68986283848344 L 100.50252531694167 178.49747468305833 A 70 70 0 0 1 112.49212435147025 69.89704521485893 Z" fill="#E6AF2A"></path><path stroke-width="2" d="M 150 59 L 150 16" stroke="#E6AF2A" transform="rotate(-32.400000000000006,150,129)"></path><text x="78.52070554980187" y="30.48539633345294" text-anchor="middle" style="font-size: 12px; fill: rgb(230, 175, 42); font-family: Roboto, Arial; font-weight: 300; cursor: default;"><tspan x="78.52070554980187" dy="0">38 % </tspan></text></g><g class="dxg-tooltip"><path fill="#000000" stroke="none" opacity="0.1" d="M 0 0" visibility="hidden"></path><path d="M 0 0 Z" visibility="hidden"></path><text x="0" y="0" text-anchor="middle" visibility="hidden" class="dxg-text" style="font-size: 12px; fill: rgb(255, 255, 255); font-family: Roboto, Arial; font-weight: 300; cursor: default;"><tspan x="0" dy="0">0</tspan></text></g><g class="dxg-tracker" stroke="none" stroke-width="0" fill="#000000" opacity="0.0001"><path stroke-linejoin="round" d="M 128.82591145181314 18.001540667658176 A 113 113 0 0 0 70.09693372592011 208.90306627407986 L 79.28932188134523 199.71067811865476 A 100 100 0 0 1 131.26186854142756 30.77127492713113 Z"></path><path stroke-linejoin="round" d="M 0 0 Z"></path><path stroke-linejoin="round" d="M 105.5263760167433 58.92078218333273 A 83 83 0 0 0 91.31013716151654 187.68986283848344 L 100.50252531694167 178.49747468305833 A 70 70 0 0 1 112.49212435147025 69.89704521485893 Z"></path></g></svg></div>
                        <ul class="actual ui-state-disabled">
                            <li class="atm ui-state-disabled">
                                Actual this month
                            </li>
                            <li class="hero ui-state-disabled">
                                38<span class="up">%</span>
                            </li>
                            <li class="flag ui-state-disabled">
                                <img alt="" height="35" src="/images/flags/FR.svg" width="35">
                            </li><li class="countryName ui-state-disabled">
                            FR
                        </li>

                        </ul>
                    </div>
                    <div class="legend">
                        <span class="icon-round key2"></span>Target
                        <span class="icon-round key1"></span>Last Month’s Actual
                        <span class="icon-round key4"></span>This Month’s Actual
                    </div>
                    <div class="indicators">
                        <ul>
                            <li class="indicator-image ui-state-disabled">
                                <span class="icon-image"></span>
                                <span class="icon-up_arrow key5"></span>
                            </li>
                            <li class="indicator-name ui-state-disabled">
                                <span class="icon-name"></span>
                                <span class="icon-up_arrow key5"></span>
                            </li>
                            <li class="indicator-available ui-state-disabled">
                                <span class="icon-available"></span>
                                <span class="icon-up_arrow key3"></span>
                            </li>
                            <li class="indicator-target ui-state-disabled">
                                <span class="icon-target"></span>
                                <span class="icon-up_arrow key4"></span>
                <span class="difference">
                        38%
                </span>
                            </li>
                        </ul>
                    </div>
                </div></li><li class="grid3 square opaque ui-state-default"><div data-clickable="true" data-country-id="BR">
                    <a class="tooltipGlobal" data-toggle="popover" title="TOTAL SKU: 8">
                        <i class="icon-info"></i>
                    </a>
                    <div class="metrics">
                        <div class="gauge countryGauge"><svg width="300" height="225" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" stroke="none" stroke-width="0" fill="none" class="dxg dxbg-bar-gauge" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"><g class="dxbg-bars"><path stroke-linejoin="round" d="M 229.9030662740799 208.90306627407986 A 113 113 0 1 0 70.09693372592011 208.90306627407986 L 79.28932188134523 199.71067811865476 A 100 100 0 1 1 220.71067811865476 199.71067811865476 Z" fill="#e0e0e0"></path><path stroke-linejoin="round" d="M 219.25849706278638 39.71248360154701 A 113 113 0 0 0 70.09693372592011 208.90306627407986 L 79.28932188134523 199.71067811865476 A 100 100 0 0 1 211.29070536529767 49.984498762430974 Z" fill="#9a99c3"></path><path stroke-width="2" d="M 150 29 L 150 16" stroke="#9a99c3" transform="rotate(37.80000000000001,150,129)"></path><text x="231.76180095730712" y="37.126995482740384" text-anchor="middle" style="font-size: 12px; fill: rgb(154, 153, 195); font-family: Roboto, Arial; font-weight: 300; cursor: default;"><tspan x="231.76180095730712" dy="0">64 % </tspan></text><path stroke-linejoin="round" d="M 219.29646455628165 198.29646455628165 A 98 98 0 1 0 80.70353544371832 198.29646455628165 L 89.89592359914344 189.10407640085654 A 85 85 0 1 1 210.10407640085654 189.10407640085654 Z" fill="#e0e0e0"></path><path stroke-linejoin="round" d="M 0 0 Z" fill="#90b6c1"></path><path stroke-width="2" d="M 150 44 L 150 16" stroke="#90b6c1" transform="rotate(-135,150,129)"></path><text x="55.67195538971454" y="220.69129137347073" text-anchor="middle" style="font-size: 12px; fill: rgb(144, 182, 193); font-family: Roboto, Arial; font-weight: 300; cursor: default;"><tspan x="55.67195538971454" dy="0">0 % </tspan></text><path stroke-linejoin="round" d="M 208.68986283848346 187.68986283848344 A 83 83 0 1 0 91.31013716151654 187.68986283848344 L 100.50252531694167 178.49747468305833 A 70 70 0 1 1 199.49747468305833 178.49747468305833 Z" fill="#e0e0e0"></path><path stroke-linejoin="round" d="M 197.72543591959212 61.09357345372305 A 83 83 0 0 0 91.31013716151654 187.68986283848344 L 100.50252531694167 178.49747468305833 A 70 70 0 0 1 190.2503676430295 71.72951978024835 Z" fill="#E6AF2A"></path><path stroke-width="2" d="M 150 59 L 150 16" stroke="#E6AF2A" transform="rotate(35.099999999999994,150,129)"></path><text x="226.70570062257335" y="33.69484464369212" text-anchor="middle" style="font-size: 12px; fill: rgb(230, 175, 42); font-family: Roboto, Arial; font-weight: 300; cursor: default;"><tspan x="226.70570062257335" dy="0">63 % </tspan></text></g><g class="dxg-tooltip"><path fill="#000000" stroke="none" opacity="0.1" d="M 0 0" visibility="hidden"></path><path d="M 0 0 Z" visibility="hidden"></path><text x="0" y="0" text-anchor="middle" visibility="hidden" class="dxg-text" style="font-size: 12px; fill: rgb(255, 255, 255); font-family: Roboto, Arial; font-weight: 300; cursor: default;"><tspan x="0" dy="0">0</tspan></text></g><g class="dxg-tracker" stroke="none" stroke-width="0" fill="#000000" opacity="0.0001"><path stroke-linejoin="round" d="M 219.25849706278638 39.71248360154701 A 113 113 0 0 0 70.09693372592011 208.90306627407986 L 79.28932188134523 199.71067811865476 A 100 100 0 0 1 211.29070536529767 49.984498762430974 Z"></path><path stroke-linejoin="round" d="M 0 0 Z"></path><path stroke-linejoin="round" d="M 197.72543591959212 61.09357345372305 A 83 83 0 0 0 91.31013716151654 187.68986283848344 L 100.50252531694167 178.49747468305833 A 70 70 0 0 1 190.2503676430295 71.72951978024835 Z"></path></g></svg></div>
                        <ul class="actual ui-state-disabled">
                            <li class="atm ui-state-disabled">
                                Actual this month
                            </li>
                            <li class="hero ui-state-disabled">
                                63<span class="up">%</span>
                            </li>
                            <li class="flag ui-state-disabled">
                                <img alt="" height="35" src="/images/flags/BR.svg" width="35">
                            </li><li class="countryName ui-state-disabled">
                            BR
                        </li>

                        </ul>
                    </div>
                    <div class="legend">
                        <span class="icon-round key2"></span>Target
                        <span class="icon-round key1"></span>Last Month’s Actual
                        <span class="icon-round key4"></span>This Month’s Actual
                    </div>
                    <div class="indicators">
                        <ul>
                            <li class="indicator-image ui-state-disabled">
                                <span class="icon-image"></span>
                                <span class="icon-up_arrow key3"></span>
                            </li>
                            <li class="indicator-name ui-state-disabled">
                                <span class="icon-name"></span>
                                <span class="icon-up_arrow key5"></span>
                            </li>
                            <li class="indicator-available ui-state-disabled">
                                <span class="icon-available"></span>
                                <span class="icon-up_arrow key3"></span>
                            </li>
                            <li class="indicator-target ui-state-disabled">
                                <span class="icon-target"></span>
                                <span class="icon-up_arrow key4"></span>
                <span class="difference">
                        63%
                </span>
                            </li>
                        </ul>
                    </div>
                </div></li><li class="grid3 square opaque ui-state-default"><div data-clickable="true" data-country-id="NL">
                    <a class="tooltipGlobal" data-toggle="popover" title="TOTAL SKU: 2703">
                        <i class="icon-info"></i>
                    </a>
                    <div class="metrics">
                        <div class="gauge countryGauge"><svg width="300" height="225" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" stroke="none" stroke-width="0" fill="none" class="dxg dxbg-bar-gauge" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"><g class="dxbg-bars"><path stroke-linejoin="round" d="M 229.9030662740799 208.90306627407986 A 113 113 0 1 0 70.09693372592011 208.90306627407986 L 79.28932188134523 199.71067811865476 A 100 100 0 1 1 220.71067811865476 199.71067811865476 Z" fill="#e0e0e0"></path><path stroke-linejoin="round" d="M 233.5783137325829 205.05041402660441 A 113 113 0 1 0 70.09693372592011 208.90306627407986 L 79.28932188134523 199.71067811865476 A 100 100 0 1 1 223.96310949786096 196.30125135097734 Z" fill="#9a99c3"></path><path stroke-width="2" d="M 150 29 L 150 16" stroke="#9a99c3" transform="rotate(132.3,150,129)"></path><text x="248.66678807014654" y="216.51133415629823" text-anchor="middle" style="font-size: 12px; fill: rgb(154, 153, 195); font-family: Roboto, Arial; font-weight: 300; cursor: default;"><tspan x="248.66678807014654" dy="0">99 % </tspan></text><path stroke-linejoin="round" d="M 219.29646455628165 198.29646455628165 A 98 98 0 1 0 80.70353544371832 198.29646455628165 L 89.89592359914344 189.10407640085654 A 85 85 0 1 1 210.10407640085654 189.10407640085654 Z" fill="#e0e0e0"></path><path stroke-linejoin="round" d="M 0 0 Z" fill="#90b6c1"></path><path stroke-width="2" d="M 150 44 L 150 16" stroke="#90b6c1" transform="rotate(-135,150,129)"></path><text x="55.67195538971454" y="220.69129137347073" text-anchor="middle" style="font-size: 12px; fill: rgb(144, 182, 193); font-family: Roboto, Arial; font-weight: 300; cursor: default;"><tspan x="55.67195538971454" dy="0">0 % </tspan></text><path stroke-linejoin="round" d="M 208.68986283848346 187.68986283848344 A 83 83 0 1 0 91.31013716151654 187.68986283848344 L 100.50252531694167 178.49747468305833 A 70 70 0 1 1 199.49747468305833 178.49747468305833 Z" fill="#e0e0e0"></path><path stroke-linejoin="round" d="M 211.3893808832246 184.8600386213112 A 83 83 0 1 0 91.31013716151654 187.68986283848344 L 100.50252531694167 178.49747468305833 A 70 70 0 1 1 201.77417664850267 176.11087594568414 Z" fill="#509E60"></path><path stroke-width="2" d="M 150 59 L 150 16" stroke="#509E60" transform="rotate(132.3,150,129)"></path><text x="248.66678807014654" y="216.51133415629823" text-anchor="middle" style="font-size: 12px; fill: rgb(80, 158, 96); font-family: Roboto, Arial; font-weight: 300; cursor: default;"><tspan x="248.66678807014654" dy="0">99 % </tspan></text></g><g class="dxg-tooltip"><path fill="#000000" stroke="none" opacity="0.1" d="M 0 0" visibility="hidden"></path><path d="M 0 0 Z" visibility="hidden"></path><text x="0" y="0" text-anchor="middle" visibility="hidden" class="dxg-text" style="font-size: 12px; fill: rgb(255, 255, 255); font-family: Roboto, Arial; font-weight: 300; cursor: default;"><tspan x="0" dy="0">0</tspan></text></g><g class="dxg-tracker" stroke="none" stroke-width="0" fill="#000000" opacity="0.0001"><path stroke-linejoin="round" d="M 233.5783137325829 205.05041402660441 A 113 113 0 1 0 70.09693372592011 208.90306627407986 L 79.28932188134523 199.71067811865476 A 100 100 0 1 1 223.96310949786096 196.30125135097734 Z"></path><path stroke-linejoin="round" d="M 0 0 Z"></path><path stroke-linejoin="round" d="M 211.3893808832246 184.8600386213112 A 83 83 0 1 0 91.31013716151654 187.68986283848344 L 100.50252531694167 178.49747468305833 A 70 70 0 1 1 201.77417664850267 176.11087594568414 Z"></path></g></svg></div>
                        <ul class="actual ui-state-disabled">
                            <li class="atm ui-state-disabled">
                                Actual this month
                            </li>
                            <li class="hero ui-state-disabled">
                                99<span class="up">%</span>
                            </li>
                            <li class="flag ui-state-disabled">
                                <img alt="" height="35" src="/images/flags/NL.svg" width="35">
                            </li><li class="countryName ui-state-disabled">
                            NL
                        </li>

                        </ul>
                    </div>
                    <div class="legend">
                        <span class="icon-round key2"></span>Target
                        <span class="icon-round key1"></span>Last Month’s Actual
                        <span class="icon-round key3"></span>This Month’s Actual
                    </div>
                    <div class="indicators">
                        <ul>
                            <li class="indicator-image ui-state-disabled">
                                <span class="icon-image"></span>
                                <span class="icon-up_arrow key4"></span>
                            </li>
                            <li class="indicator-name ui-state-disabled">
                                <span class="icon-name"></span>
                                <span class="icon-up_arrow key3"></span>
                            </li>
                            <li class="indicator-available ui-state-disabled">
                                <span class="icon-available"></span>
                                <span class="icon-up_arrow key3"></span>
                            </li>
                            <li class="indicator-target ui-state-disabled">
                                <span class="icon-target"></span>
                                <span class="icon-up_arrow key3"></span>
                <span class="difference">
                        99%
                </span>
                            </li>
                        </ul>
                    </div>
                </div></li></ul>

                <div class="clearfix"></div>

                <div class="divider">
                    <div class="hr"></div>
                </div>

                <div class="basicLogo">BASIC</div>
                <ul id="basicCountries" class="connectedSortable">

                    <div class="clearfix"></div><li class="grid3 square opaque ui-state-default"><div data-clickable="false" data-country-id="AU">
                    <a class="tooltipGlobal" data-toggle="popover" title="TOTAL SKU: 1145">
                        <i class="icon-info"></i>
                    </a>
                    <div class="metrics">
                        <div class="gauge countryGauge"><svg width="300" height="225" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" stroke="none" stroke-width="0" fill="none" class="dxg dxbg-bar-gauge" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"><g class="dxbg-bars"><path stroke-linejoin="round" d="M 229.9030662740799 208.90306627407986 A 113 113 0 1 0 70.09693372592011 208.90306627407986 L 79.28932188134523 199.71067811865476 A 100 100 0 1 1 220.71067811865476 199.71067811865476 Z" fill="#e0e0e0"></path><path stroke-linejoin="round" d="M 233.5783137325829 205.05041402660441 A 113 113 0 1 0 70.09693372592011 208.90306627407986 L 79.28932188134523 199.71067811865476 A 100 100 0 1 1 223.96310949786096 196.30125135097734 Z" fill="#9a99c3"></path><path stroke-width="2" d="M 150 29 L 150 16" stroke="#9a99c3" transform="rotate(132.3,150,129)"></path><text x="248.66678807014654" y="216.51133415629823" text-anchor="middle" style="font-size: 12px; fill: rgb(154, 153, 195); font-family: Roboto, Arial; font-weight: 300; cursor: default;"><tspan x="248.66678807014654" dy="0">99 % </tspan></text><path stroke-linejoin="round" d="M 219.29646455628165 198.29646455628165 A 98 98 0 1 0 80.70353544371832 198.29646455628165 L 89.89592359914344 189.10407640085654 A 85 85 0 1 1 210.10407640085654 189.10407640085654 Z" fill="#e0e0e0"></path><path stroke-linejoin="round" d="M 0 0 Z" fill="#90b6c1"></path><path stroke-width="2" d="M 150 44 L 150 16" stroke="#90b6c1" transform="rotate(-135,150,129)"></path><text x="55.67195538971454" y="220.69129137347073" text-anchor="middle" style="font-size: 12px; fill: rgb(144, 182, 193); font-family: Roboto, Arial; font-weight: 300; cursor: default;"><tspan x="55.67195538971454" dy="0">0 % </tspan></text><path stroke-linejoin="round" d="M 208.68986283848346 187.68986283848344 A 83 83 0 1 0 91.31013716151654 187.68986283848344 L 100.50252531694167 178.49747468305833 A 70 70 0 1 1 199.49747468305833 178.49747468305833 Z" fill="#e0e0e0"></path><path stroke-linejoin="round" d="M 211.3893808832246 184.8600386213112 A 83 83 0 1 0 91.31013716151654 187.68986283848344 L 100.50252531694167 178.49747468305833 A 70 70 0 1 1 201.77417664850267 176.11087594568414 Z" fill="#509E60"></path><path stroke-width="2" d="M 150 59 L 150 16" stroke="#509E60" transform="rotate(132.3,150,129)"></path><text x="248.66678807014654" y="216.51133415629823" text-anchor="middle" style="font-size: 12px; fill: rgb(80, 158, 96); font-family: Roboto, Arial; font-weight: 300; cursor: default;"><tspan x="248.66678807014654" dy="0">99 % </tspan></text></g><g class="dxg-tooltip"><path fill="#000000" stroke="none" opacity="0.1" d="M 0 0" visibility="hidden"></path><path d="M 0 0 Z" visibility="hidden"></path><text x="0" y="0" text-anchor="middle" visibility="hidden" class="dxg-text" style="font-size: 12px; fill: rgb(255, 255, 255); font-family: Roboto, Arial; font-weight: 300; cursor: default;"><tspan x="0" dy="0">0</tspan></text></g><g class="dxg-tracker" stroke="none" stroke-width="0" fill="#000000" opacity="0.0001"><path stroke-linejoin="round" d="M 233.5783137325829 205.05041402660441 A 113 113 0 1 0 70.09693372592011 208.90306627407986 L 79.28932188134523 199.71067811865476 A 100 100 0 1 1 223.96310949786096 196.30125135097734 Z"></path><path stroke-linejoin="round" d="M 0 0 Z"></path><path stroke-linejoin="round" d="M 211.3893808832246 184.8600386213112 A 83 83 0 1 0 91.31013716151654 187.68986283848344 L 100.50252531694167 178.49747468305833 A 70 70 0 1 1 201.77417664850267 176.11087594568414 Z"></path></g></svg></div>
                        <ul class="actual ui-state-disabled">
                            <li class="atm ui-state-disabled">
                                Actual this month
                            </li>
                            <li class="hero ui-state-disabled">
                                99<span class="up">%</span>
                            </li>
                            <li class="flag ui-state-disabled">
                                <img alt="" height="35" src="/images/flags/AU.svg" width="35">
                            </li><li class="countryName ui-state-disabled">
                            AU
                        </li>

                        </ul>
                    </div>
                    <div class="legend">
                        <span class="icon-round key2"></span>Target
                        <span class="icon-round key1"></span>Last Month’s Actual
                        <span class="icon-round key3"></span>This Month’s Actual
                    </div>
                    <div class="indicators">
                        <ul>
                            <li class="indicator-image ui-state-disabled">
                                <span class="icon-image"></span>
                                <span class="icon-up_arrow key4"></span>
                            </li>
                            <li class="indicator-name ui-state-disabled">
                                <span class="icon-name"></span>
                                <span class="icon-up_arrow key3"></span>
                            </li>
                            <li class="indicator-available ui-state-disabled">
                                <span class="icon-available"></span>
                                <span class="icon-up_arrow key3"></span>
                            </li>
                            <li class="indicator-target ui-state-disabled">
                                <span class="icon-target"></span>
                                <span class="icon-up_arrow key3"></span>
                <span class="difference">
                        99%
                </span>
                            </li>
                        </ul>
                    </div>
                </div></li><li class="grid3 square opaque ui-state-default"><div data-clickable="false" data-country-id="DE">
                    <a class="tooltipGlobal" data-toggle="popover" title="TOTAL SKU: 45">
                        <i class="icon-info"></i>
                    </a>
                    <div class="metrics">
                        <div class="gauge countryGauge"><svg width="300" height="225" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" stroke="none" stroke-width="0" fill="none" class="dxg dxbg-bar-gauge" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"><g class="dxbg-bars"><path stroke-linejoin="round" d="M 229.9030662740799 208.90306627407986 A 113 113 0 1 0 70.09693372592011 208.90306627407986 L 79.28932188134523 199.71067811865476 A 100 100 0 1 1 220.71067811865476 199.71067811865476 Z" fill="#e0e0e0"></path><path stroke-linejoin="round" d="M 243.46010489302552 192.51542169729075 A 113 113 0 1 0 70.09693372592011 208.90306627407986 L 79.28932188134523 199.71067811865476 A 100 100 0 1 1 232.7080574274562 185.20833778521305 Z" fill="#9a99c3"></path><path stroke-width="2" d="M 150 29 L 150 16" stroke="#9a99c3" transform="rotate(124.19999999999999,150,129)"></path><text x="260.3325486082266" y="202.9114221246712" text-anchor="middle" style="font-size: 12px; fill: rgb(154, 153, 195); font-family: Roboto, Arial; font-weight: 300; cursor: default;"><tspan x="260.3325486082266" dy="0">96 % </tspan></text><path stroke-linejoin="round" d="M 219.29646455628165 198.29646455628165 A 98 98 0 1 0 80.70353544371832 198.29646455628165 L 89.89592359914344 189.10407640085654 A 85 85 0 1 1 210.10407640085654 189.10407640085654 Z" fill="#e0e0e0"></path><path stroke-linejoin="round" d="M 0 0 Z" fill="#90b6c1"></path><path stroke-width="2" d="M 150 44 L 150 16" stroke="#90b6c1" transform="rotate(-135,150,129)"></path><text x="55.67195538971454" y="220.69129137347073" text-anchor="middle" style="font-size: 12px; fill: rgb(144, 182, 193); font-family: Roboto, Arial; font-weight: 300; cursor: default;"><tspan x="55.67195538971454" dy="0">0 % </tspan></text><path stroke-linejoin="round" d="M 208.68986283848346 187.68986283848344 A 83 83 0 1 0 91.31013716151654 187.68986283848344 L 100.50252531694167 178.49747468305833 A 70 70 0 1 1 199.49747468305833 178.49747468305833 Z" fill="#e0e0e0"></path><path stroke-linejoin="round" d="M 220.76913364138966 172.36738087142373 A 83 83 0 1 0 91.31013716151654 187.68986283848344 L 100.50252531694167 178.49747468305833 A 70 70 0 1 1 209.68481150478647 165.57489953011643 Z" fill="#E6AF2A"></path><path stroke-width="2" d="M 150 59 L 150 16" stroke="#E6AF2A" transform="rotate(121.5,150,129)"></path><text x="263.7421979248359" y="198.0583240341753" text-anchor="middle" style="font-size: 12px; fill: rgb(230, 175, 42); font-family: Roboto, Arial; font-weight: 300; cursor: default;"><tspan x="263.7421979248359" dy="0">95 % </tspan></text></g><g class="dxg-tooltip"><path fill="#000000" stroke="none" opacity="0.1" d="M 0 0" visibility="hidden"></path><path d="M 0 0 Z" visibility="hidden"></path><text x="0" y="0" text-anchor="middle" visibility="hidden" class="dxg-text" style="font-size: 12px; fill: rgb(255, 255, 255); font-family: Roboto, Arial; font-weight: 300; cursor: default;"><tspan x="0" dy="0">0</tspan></text></g><g class="dxg-tracker" stroke="none" stroke-width="0" fill="#000000" opacity="0.0001"><path stroke-linejoin="round" d="M 243.46010489302552 192.51542169729075 A 113 113 0 1 0 70.09693372592011 208.90306627407986 L 79.28932188134523 199.71067811865476 A 100 100 0 1 1 232.7080574274562 185.20833778521305 Z"></path><path stroke-linejoin="round" d="M 0 0 Z"></path><path stroke-linejoin="round" d="M 220.76913364138966 172.36738087142373 A 83 83 0 1 0 91.31013716151654 187.68986283848344 L 100.50252531694167 178.49747468305833 A 70 70 0 1 1 209.68481150478647 165.57489953011643 Z"></path></g></svg></div>
                        <ul class="actual ui-state-disabled">
                            <li class="atm ui-state-disabled">
                                Actual this month
                            </li>
                            <li class="hero ui-state-disabled">
                                95<span class="up">%</span>
                            </li>
                            <li class="flag ui-state-disabled">
                                <img alt="" height="35" src="/images/flags/DE.svg" width="35">
                            </li><li class="countryName ui-state-disabled">
                            DE
                        </li>

                        </ul>
                    </div>
                    <div class="legend">
                        <span class="icon-round key2"></span>Target
                        <span class="icon-round key1"></span>Last Month’s Actual
                        <span class="icon-round key4"></span>This Month’s Actual
                    </div>
                    <div class="indicators">
                        <ul>
                            <li class="indicator-image ui-state-disabled">
                                <span class="icon-image"></span>
                                <span class="icon-up_arrow key5"></span>
                            </li>
                            <li class="indicator-name ui-state-disabled">
                                <span class="icon-name"></span>
                                <span class="icon-up_arrow key3"></span>
                            </li>
                            <li class="indicator-available ui-state-disabled">
                                <span class="icon-available"></span>
                                <span class="icon-up_arrow key3"></span>
                            </li>
                            <li class="indicator-target ui-state-disabled">
                                <span class="icon-target"></span>
                                <span class="icon-up_arrow key4"></span>
                <span class="difference">
                        95%
                </span>
                            </li>
                        </ul>
                    </div>
                </div></li><li class="grid3 square opaque ui-state-default"><div data-clickable="false" data-country-id="ES">
                    <a class="tooltipGlobal" data-toggle="popover" title="TOTAL SKU: 1439">
                        <i class="icon-info"></i>
                    </a>
                    <div class="metrics">
                        <div class="gauge countryGauge"><svg width="300" height="225" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" stroke="none" stroke-width="0" fill="none" class="dxg dxbg-bar-gauge" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"><g class="dxbg-bars"><path stroke-linejoin="round" d="M 229.9030662740799 208.90306627407986 A 113 113 0 1 0 70.09693372592011 208.90306627407986 L 79.28932188134523 199.71067811865476 A 100 100 0 1 1 220.71067811865476 199.71067811865476 Z" fill="#e0e0e0"></path><path stroke-linejoin="round" d="M 255.705175483775 168.94265734705607 A 113 113 0 1 0 70.09693372592011 208.90306627407986 L 79.28932188134523 199.71067811865476 A 100 100 0 1 1 243.54440308298672 164.34748437792575 Z" fill="#9a99c3"></path><path stroke-width="2" d="M 150 29 L 150 16" stroke="#9a99c3" transform="rotate(110.70000000000002,150,129)"></path><text x="274.7882337127043" y="177.33601584733697" text-anchor="middle" style="font-size: 12px; fill: rgb(154, 153, 195); font-family: Roboto, Arial; font-weight: 300; cursor: default;"><tspan x="274.7882337127043" dy="0">91 % </tspan></text><path stroke-linejoin="round" d="M 219.29646455628165 198.29646455628165 A 98 98 0 1 0 80.70353544371832 198.29646455628165 L 89.89592359914344 189.10407640085654 A 85 85 0 1 1 210.10407640085654 189.10407640085654 Z" fill="#e0e0e0"></path><path stroke-linejoin="round" d="M 0 0 Z" fill="#90b6c1"></path><path stroke-width="2" d="M 150 44 L 150 16" stroke="#90b6c1" transform="rotate(-135,150,129)"></path><text x="55.67195538971454" y="220.69129137347073" text-anchor="middle" style="font-size: 12px; fill: rgb(144, 182, 193); font-family: Roboto, Arial; font-weight: 300; cursor: default;"><tspan x="55.67195538971454" dy="0">0 % </tspan></text><path stroke-linejoin="round" d="M 208.68986283848346 187.68986283848344 A 83 83 0 1 0 91.31013716151654 187.68986283848344 L 100.50252531694167 178.49747468305833 A 70 70 0 1 1 199.49747468305833 178.49747468305833 Z" fill="#e0e0e0"></path><path stroke-linejoin="round" d="M 227.641854558879 158.33841203367837 A 83 83 0 1 0 91.31013716151654 187.68986283848344 L 100.50252531694167 178.49747468305833 A 70 70 0 1 1 215.48108215809071 153.74323906454802 Z" fill="#509E60"></path><path stroke-width="2" d="M 150 59 L 150 16" stroke="#509E60" transform="rotate(110.70000000000002,150,129)"></path><text x="274.7882337127043" y="177.33601584733697" text-anchor="middle" style="font-size: 12px; fill: rgb(80, 158, 96); font-family: Roboto, Arial; font-weight: 300; cursor: default;"><tspan x="274.7882337127043" dy="0">91 % </tspan></text></g><g class="dxg-tooltip"><path fill="#000000" stroke="none" opacity="0.1" d="M 0 0" visibility="hidden"></path><path d="M 0 0 Z" visibility="hidden"></path><text x="0" y="0" text-anchor="middle" visibility="hidden" class="dxg-text" style="font-size: 12px; fill: rgb(255, 255, 255); font-family: Roboto, Arial; font-weight: 300; cursor: default;"><tspan x="0" dy="0">0</tspan></text></g><g class="dxg-tracker" stroke="none" stroke-width="0" fill="#000000" opacity="0.0001"><path stroke-linejoin="round" d="M 255.705175483775 168.94265734705607 A 113 113 0 1 0 70.09693372592011 208.90306627407986 L 79.28932188134523 199.71067811865476 A 100 100 0 1 1 243.54440308298672 164.34748437792575 Z"></path><path stroke-linejoin="round" d="M 0 0 Z"></path><path stroke-linejoin="round" d="M 227.641854558879 158.33841203367837 A 83 83 0 1 0 91.31013716151654 187.68986283848344 L 100.50252531694167 178.49747468305833 A 70 70 0 1 1 215.48108215809071 153.74323906454802 Z"></path></g></svg></div>
                        <ul class="actual ui-state-disabled">
                            <li class="atm ui-state-disabled">
                                Actual this month
                            </li>
                            <li class="hero ui-state-disabled">
                                91<span class="up">%</span>
                            </li>
                            <li class="flag ui-state-disabled">
                                <img alt="" height="35" src="/images/flags/ES.svg" width="35">
                            </li><li class="countryName ui-state-disabled">
                            ES
                        </li>

                        </ul>
                    </div>
                    <div class="legend">
                        <span class="icon-round key2"></span>Target
                        <span class="icon-round key1"></span>Last Month’s Actual
                        <span class="icon-round key4"></span>This Month’s Actual
                    </div>
                    <div class="indicators">
                        <ul>
                            <li class="indicator-image ui-state-disabled">
                                <span class="icon-image"></span>
                                <span class="icon-up_arrow key5"></span>
                            </li>
                            <li class="indicator-name ui-state-disabled">
                                <span class="icon-name"></span>
                                <span class="icon-up_arrow key3"></span>
                            </li>
                            <li class="indicator-available ui-state-disabled">
                                <span class="icon-available"></span>
                                <span class="icon-up_arrow key3"></span>
                            </li>
                            <li class="indicator-target ui-state-disabled">
                                <span class="icon-target"></span>
                                <span class="icon-up_arrow key4"></span>
                <span class="difference">
                        91%
                </span>
                            </li>
                        </ul>
                    </div>
                </div></li><li class="grid3 square opaque ui-state-default"><div data-clickable="false" data-country-id="IN">
                    <a class="tooltipGlobal" data-toggle="popover" title="TOTAL SKU: 1598">
                        <i class="icon-info"></i>
                    </a>
                    <div class="metrics">
                        <div class="gauge countryGauge"><svg width="300" height="225" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" stroke="none" stroke-width="0" fill="none" class="dxg dxbg-bar-gauge" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"><g class="dxbg-bars"><path stroke-linejoin="round" d="M 229.9030662740799 208.90306627407986 A 113 113 0 1 0 70.09693372592011 208.90306627407986 L 79.28932188134523 199.71067811865476 A 100 100 0 1 1 220.71067811865476 199.71067811865476 Z" fill="#e0e0e0"></path><path stroke-linejoin="round" d="M 249.0226548449566 183.4381651734938 A 113 113 0 1 0 70.09693372592011 208.90306627407986 L 79.28932188134523 199.71067811865476 A 100 100 0 1 1 237.63066800438637 177.1753674101715 Z" fill="#9a99c3"></path><path stroke-width="2" d="M 150 29 L 150 16" stroke="#9a99c3" transform="rotate(118.79999999999998,150,129)"></path><text x="266.8993111178514" y="193.06300044487026" text-anchor="middle" style="font-size: 12px; fill: rgb(154, 153, 195); font-family: Roboto, Arial; font-weight: 300; cursor: default;"><tspan x="266.8993111178514" dy="0">94 % </tspan></text><path stroke-linejoin="round" d="M 219.29646455628165 198.29646455628165 A 98 98 0 1 0 80.70353544371832 198.29646455628165 L 89.89592359914344 189.10407640085654 A 85 85 0 1 1 210.10407640085654 189.10407640085654 Z" fill="#e0e0e0"></path><path stroke-linejoin="round" d="M 0 0 Z" fill="#90b6c1"></path><path stroke-width="2" d="M 150 44 L 150 16" stroke="#90b6c1" transform="rotate(-135,150,129)"></path><text x="55.67195538971454" y="220.69129137347073" text-anchor="middle" style="font-size: 12px; fill: rgb(144, 182, 193); font-family: Roboto, Arial; font-weight: 300; cursor: default;"><tspan x="55.67195538971454" dy="0">0 % </tspan></text><path stroke-linejoin="round" d="M 208.68986283848346 187.68986283848344 A 83 83 0 1 0 91.31013716151654 187.68986283848344 L 100.50252531694167 178.49747468305833 A 70 70 0 1 1 199.49747468305833 178.49747468305833 Z" fill="#e0e0e0"></path><path stroke-linejoin="round" d="M 222.73345444364068 168.98555495044235 A 83 83 0 1 0 91.31013716151654 187.68986283848344 L 100.50252531694167 178.49747468305833 A 70 70 0 1 1 211.34146760307044 162.72275718712007 Z" fill="#509E60"></path><path stroke-width="2" d="M 150 59 L 150 16" stroke="#509E60" transform="rotate(118.79999999999998,150,129)"></path><text x="266.8993111178514" y="193.06300044487026" text-anchor="middle" style="font-size: 12px; fill: rgb(80, 158, 96); font-family: Roboto, Arial; font-weight: 300; cursor: default;"><tspan x="266.8993111178514" dy="0">94 % </tspan></text></g><g class="dxg-tooltip"><path fill="#000000" stroke="none" opacity="0.1" d="M 0 0" visibility="hidden"></path><path d="M 0 0 Z" visibility="hidden"></path><text x="0" y="0" text-anchor="middle" visibility="hidden" class="dxg-text" style="font-size: 12px; fill: rgb(255, 255, 255); font-family: Roboto, Arial; font-weight: 300; cursor: default;"><tspan x="0" dy="0">0</tspan></text></g><g class="dxg-tracker" stroke="none" stroke-width="0" fill="#000000" opacity="0.0001"><path stroke-linejoin="round" d="M 249.0226548449566 183.4381651734938 A 113 113 0 1 0 70.09693372592011 208.90306627407986 L 79.28932188134523 199.71067811865476 A 100 100 0 1 1 237.63066800438637 177.1753674101715 Z"></path><path stroke-linejoin="round" d="M 0 0 Z"></path><path stroke-linejoin="round" d="M 222.73345444364068 168.98555495044235 A 83 83 0 1 0 91.31013716151654 187.68986283848344 L 100.50252531694167 178.49747468305833 A 70 70 0 1 1 211.34146760307044 162.72275718712007 Z"></path></g></svg></div>
                        <ul class="actual ui-state-disabled">
                            <li class="atm ui-state-disabled">
                                Actual this month
                            </li>
                            <li class="hero ui-state-disabled">
                                94<span class="up">%</span>
                            </li>
                            <li class="flag ui-state-disabled">
                                <img alt="" height="35" src="/images/flags/IN.svg" width="35">
                            </li><li class="countryName ui-state-disabled">
                            IN
                        </li>

                        </ul>
                    </div>
                    <div class="legend">
                        <span class="icon-round key2"></span>Target
                        <span class="icon-round key1"></span>Last Month’s Actual
                        <span class="icon-round key3"></span>This Month’s Actual
                    </div>
                    <div class="indicators">
                        <ul>
                            <li class="indicator-image ui-state-disabled">
                                <span class="icon-image"></span>
                                <span class="icon-up_arrow key3"></span>
                            </li>
                            <li class="indicator-name ui-state-disabled">
                                <span class="icon-name"></span>
                                <span class="icon-up_arrow key3"></span>
                            </li>
                            <li class="indicator-available ui-state-disabled">
                                <span class="icon-available"></span>
                                <span class="icon-up_arrow key5"></span>
                            </li>
                            <li class="indicator-target ui-state-disabled">
                                <span class="icon-target"></span>
                                <span class="icon-up_arrow key3"></span>
                <span class="difference">
                        94%
                </span>
                            </li>
                        </ul>
                    </div>
                </div></li><li class="grid3 square opaque ui-state-default"><div data-clickable="false" data-country-id="JP">
                    <a class="tooltipGlobal" data-toggle="popover" title="TOTAL SKU: 800">
                        <i class="icon-info"></i>
                    </a>
                    <div class="metrics">
                        <div class="gauge countryGauge"><svg width="300" height="225" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" stroke="none" stroke-width="0" fill="none" class="dxg dxbg-bar-gauge" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"><g class="dxbg-bars"><path stroke-linejoin="round" d="M 229.9030662740799 208.90306627407986 A 113 113 0 1 0 70.09693372592011 208.90306627407986 L 79.28932188134523 199.71067811865476 A 100 100 0 1 1 220.71067811865476 199.71067811865476 Z" fill="#e0e0e0"></path><path stroke-linejoin="round" d="M 257.46938634135233 163.91892036436906 A 113 113 0 1 0 70.09693372592011 208.90306627407986 L 79.28932188134523 199.71067811865476 A 100 100 0 1 1 245.10565162951536 159.90169943749473 Z" fill="#9a99c3"></path><path stroke-width="2" d="M 150 29 L 150 16" stroke="#9a99c3" transform="rotate(108,150,129)"></path><text x="276.8709392737735" y="171.88548351036854" text-anchor="middle" style="font-size: 12px; fill: rgb(154, 153, 195); font-family: Roboto, Arial; font-weight: 300; cursor: default;"><tspan x="276.8709392737735" dy="0">90 % </tspan></text><path stroke-linejoin="round" d="M 219.29646455628165 198.29646455628165 A 98 98 0 1 0 80.70353544371832 198.29646455628165 L 89.89592359914344 189.10407640085654 A 85 85 0 1 1 210.10407640085654 189.10407640085654 Z" fill="#e0e0e0"></path><path stroke-linejoin="round" d="M 0 0 Z" fill="#90b6c1"></path><path stroke-width="2" d="M 150 44 L 150 16" stroke="#90b6c1" transform="rotate(-135,150,129)"></path><text x="55.67195538971454" y="220.69129137347073" text-anchor="middle" style="font-size: 12px; fill: rgb(144, 182, 193); font-family: Roboto, Arial; font-weight: 300; cursor: default;"><tspan x="55.67195538971454" dy="0">0 % </tspan></text><path stroke-linejoin="round" d="M 208.68986283848346 187.68986283848344 A 83 83 0 1 0 91.31013716151654 187.68986283848344 L 100.50252531694167 178.49747468305833 A 70 70 0 1 1 199.49747468305833 178.49747468305833 Z" fill="#e0e0e0"></path><path stroke-linejoin="round" d="M 227.641854558879 158.33841203367837 A 83 83 0 1 0 91.31013716151654 187.68986283848344 L 100.50252531694167 178.49747468305833 A 70 70 0 1 1 215.48108215809071 153.74323906454802 Z" fill="#509E60"></path><path stroke-width="2" d="M 150 59 L 150 16" stroke="#509E60" transform="rotate(110.70000000000002,150,129)"></path><text x="274.7882337127043" y="177.33601584733697" text-anchor="middle" style="font-size: 12px; fill: rgb(80, 158, 96); font-family: Roboto, Arial; font-weight: 300; cursor: default;"><tspan x="274.7882337127043" dy="0">91 % </tspan></text></g><g class="dxg-tooltip"><path fill="#000000" stroke="none" opacity="0.1" d="M 0 0" visibility="hidden"></path><path d="M 0 0 Z" visibility="hidden"></path><text x="0" y="0" text-anchor="middle" visibility="hidden" class="dxg-text" style="font-size: 12px; fill: rgb(255, 255, 255); font-family: Roboto, Arial; font-weight: 300; cursor: default;"><tspan x="0" dy="0">0</tspan></text></g><g class="dxg-tracker" stroke="none" stroke-width="0" fill="#000000" opacity="0.0001"><path stroke-linejoin="round" d="M 257.46938634135233 163.91892036436906 A 113 113 0 1 0 70.09693372592011 208.90306627407986 L 79.28932188134523 199.71067811865476 A 100 100 0 1 1 245.10565162951536 159.90169943749473 Z"></path><path stroke-linejoin="round" d="M 0 0 Z"></path><path stroke-linejoin="round" d="M 227.641854558879 158.33841203367837 A 83 83 0 1 0 91.31013716151654 187.68986283848344 L 100.50252531694167 178.49747468305833 A 70 70 0 1 1 215.48108215809071 153.74323906454802 Z"></path></g></svg></div>
                        <ul class="actual ui-state-disabled">
                            <li class="atm ui-state-disabled">
                                Actual this month
                            </li>
                            <li class="hero ui-state-disabled">
                                91<span class="up">%</span>
                            </li>
                            <li class="flag ui-state-disabled">
                                <img alt="" height="35" src="/images/flags/JP.svg" width="35">
                            </li><li class="countryName ui-state-disabled">
                            JP
                        </li>

                        </ul>
                    </div>
                    <div class="legend">
                        <span class="icon-round key2"></span>Target
                        <span class="icon-round key1"></span>Last Month’s Actual
                        <span class="icon-round key3"></span>This Month’s Actual
                    </div>
                    <div class="indicators">
                        <ul>
                            <li class="indicator-image ui-state-disabled">
                                <span class="icon-image"></span>
                                <span class="icon-up_arrow key3"></span>
                            </li>
                            <li class="indicator-name ui-state-disabled">
                                <span class="icon-name"></span>
                                <span class="icon-up_arrow key3"></span>
                            </li>
                            <li class="indicator-available ui-state-disabled">
                                <span class="icon-available"></span>
                                <span class="icon-up_arrow key5"></span>
                            </li>
                            <li class="indicator-target ui-state-disabled">
                                <span class="icon-target"></span>
                                <span class="icon-up_arrow key3"></span>
                <span class="difference">
                        91%
                </span>
                            </li>
                        </ul>
                    </div>
                </div></li><li class="grid3 square opaque ui-state-default"><div data-clickable="false" data-country-id="PH">
                    <a class="tooltipGlobal" data-toggle="popover" title="TOTAL SKU: 87">
                        <i class="icon-info"></i>
                    </a>
                    <div class="metrics">
                        <div class="gauge countryGauge"><svg width="300" height="225" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" stroke="none" stroke-width="0" fill="none" class="dxg dxbg-bar-gauge" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"><g class="dxbg-bars"><path stroke-linejoin="round" d="M 229.9030662740799 208.90306627407986 A 113 113 0 1 0 70.09693372592011 208.90306627407986 L 79.28932188134523 199.71067811865476 A 100 100 0 1 1 220.71067811865476 199.71067811865476 Z" fill="#e0e0e0"></path><path stroke-linejoin="round" d="M 237.06799643366418 201.02891084160197 A 113 113 0 1 0 70.09693372592011 208.90306627407986 L 79.28932188134523 199.71067811865476 A 100 100 0 1 1 227.05132427757889 192.742398974869 Z" fill="#9a99c3"></path><path stroke-width="2" d="M 150 29 L 150 16" stroke="#9a99c3" transform="rotate(129.60000000000002,150,129)"></path><text x="252.78646658629026" y="212.1481811431894" text-anchor="middle" style="font-size: 12px; fill: rgb(154, 153, 195); font-family: Roboto, Arial; font-weight: 300; cursor: default;"><tspan x="252.78646658629026" dy="0">98 % </tspan></text><path stroke-linejoin="round" d="M 219.29646455628165 198.29646455628165 A 98 98 0 1 0 80.70353544371832 198.29646455628165 L 89.89592359914344 189.10407640085654 A 85 85 0 1 1 210.10407640085654 189.10407640085654 Z" fill="#e0e0e0"></path><path stroke-linejoin="round" d="M 0 0 Z" fill="#90b6c1"></path><path stroke-width="2" d="M 150 44 L 150 16" stroke="#90b6c1" transform="rotate(-135,150,129)"></path><text x="55.67195538971454" y="220.69129137347073" text-anchor="middle" style="font-size: 12px; fill: rgb(144, 182, 193); font-family: Roboto, Arial; font-weight: 300; cursor: default;"><tspan x="55.67195538971454" dy="0">0 % </tspan></text><path stroke-linejoin="round" d="M 208.68986283848346 187.68986283848344 A 83 83 0 1 0 91.31013716151654 187.68986283848344 L 100.50252531694167 178.49747468305833 A 70 70 0 1 1 199.49747468305833 178.49747468305833 Z" fill="#e0e0e0"></path><path stroke-linejoin="round" d="M 211.3893808832246 184.8600386213112 A 83 83 0 1 0 91.31013716151654 187.68986283848344 L 100.50252531694167 178.49747468305833 A 70 70 0 1 1 201.77417664850267 176.11087594568414 Z" fill="#509E60"></path><path stroke-width="2" d="M 150 59 L 150 16" stroke="#509E60" transform="rotate(132.3,150,129)"></path><text x="248.66678807014654" y="216.51133415629823" text-anchor="middle" style="font-size: 12px; fill: rgb(80, 158, 96); font-family: Roboto, Arial; font-weight: 300; cursor: default;"><tspan x="248.66678807014654" dy="0">99 % </tspan></text></g><g class="dxg-tooltip"><path fill="#000000" stroke="none" opacity="0.1" d="M 0 0" visibility="hidden"></path><path d="M 0 0 Z" visibility="hidden"></path><text x="0" y="0" text-anchor="middle" visibility="hidden" class="dxg-text" style="font-size: 12px; fill: rgb(255, 255, 255); font-family: Roboto, Arial; font-weight: 300; cursor: default;"><tspan x="0" dy="0">0</tspan></text></g><g class="dxg-tracker" stroke="none" stroke-width="0" fill="#000000" opacity="0.0001"><path stroke-linejoin="round" d="M 237.06799643366418 201.02891084160197 A 113 113 0 1 0 70.09693372592011 208.90306627407986 L 79.28932188134523 199.71067811865476 A 100 100 0 1 1 227.05132427757889 192.742398974869 Z"></path><path stroke-linejoin="round" d="M 0 0 Z"></path><path stroke-linejoin="round" d="M 211.3893808832246 184.8600386213112 A 83 83 0 1 0 91.31013716151654 187.68986283848344 L 100.50252531694167 178.49747468305833 A 70 70 0 1 1 201.77417664850267 176.11087594568414 Z"></path></g></svg></div>
                        <ul class="actual ui-state-disabled">
                            <li class="atm ui-state-disabled">
                                Actual this month
                            </li>
                            <li class="hero ui-state-disabled">
                                99<span class="up">%</span>
                            </li>
                            <li class="flag ui-state-disabled">
                                <img alt="" height="35" src="/images/flags/PH.svg" width="35">
                            </li><li class="countryName ui-state-disabled">
                            PH
                        </li>

                        </ul>
                    </div>
                    <div class="legend">
                        <span class="icon-round key2"></span>Target
                        <span class="icon-round key1"></span>Last Month’s Actual
                        <span class="icon-round key3"></span>This Month’s Actual
                    </div>
                    <div class="indicators">
                        <ul>
                            <li class="indicator-image ui-state-disabled">
                                <span class="icon-image"></span>
                                <span class="icon-up_arrow key4"></span>
                            </li>
                            <li class="indicator-name ui-state-disabled">
                                <span class="icon-name"></span>
                                <span class="icon-up_arrow key3"></span>
                            </li>
                            <li class="indicator-available ui-state-disabled">
                                <span class="icon-available"></span>
                                <span class="icon-up_arrow key3"></span>
                            </li>
                            <li class="indicator-target ui-state-disabled">
                                <span class="icon-target"></span>
                                <span class="icon-up_arrow key3"></span>
                <span class="difference">
                        99%
                </span>
                            </li>
                        </ul>
                    </div>
                </div></li><li class="grid3 square opaque ui-state-default"><div data-clickable="false" data-country-id="TR">
                    <a class="tooltipGlobal" data-toggle="popover" title="TOTAL SKU: 1790">
                        <i class="icon-info"></i>
                    </a>
                    <div class="metrics">
                        <div class="gauge countryGauge"><svg width="300" height="225" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" stroke="none" stroke-width="0" fill="none" class="dxg dxbg-bar-gauge" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"><g class="dxbg-bars"><path stroke-linejoin="round" d="M 229.9030662740799 208.90306627407986 A 113 113 0 1 0 70.09693372592011 208.90306627407986 L 79.28932188134523 199.71067811865476 A 100 100 0 1 1 220.71067811865476 199.71067811865476 Z" fill="#e0e0e0"></path><path stroke-linejoin="round" d="M 257.46938634135233 163.91892036436906 A 113 113 0 1 0 70.09693372592011 208.90306627407986 L 79.28932188134523 199.71067811865476 A 100 100 0 1 1 245.10565162951536 159.90169943749473 Z" fill="#9a99c3"></path><path stroke-width="2" d="M 150 29 L 150 16" stroke="#9a99c3" transform="rotate(108,150,129)"></path><text x="276.8709392737735" y="171.88548351036854" text-anchor="middle" style="font-size: 12px; fill: rgb(154, 153, 195); font-family: Roboto, Arial; font-weight: 300; cursor: default;"><tspan x="276.8709392737735" dy="0">90 % </tspan></text><path stroke-linejoin="round" d="M 219.29646455628165 198.29646455628165 A 98 98 0 1 0 80.70353544371832 198.29646455628165 L 89.89592359914344 189.10407640085654 A 85 85 0 1 1 210.10407640085654 189.10407640085654 Z" fill="#e0e0e0"></path><path stroke-linejoin="round" d="M 0 0 Z" fill="#90b6c1"></path><path stroke-width="2" d="M 150 44 L 150 16" stroke="#90b6c1" transform="rotate(-135,150,129)"></path><text x="55.67195538971454" y="220.69129137347073" text-anchor="middle" style="font-size: 12px; fill: rgb(144, 182, 193); font-family: Roboto, Arial; font-weight: 300; cursor: default;"><tspan x="55.67195538971454" dy="0">0 % </tspan></text><path stroke-linejoin="round" d="M 208.68986283848346 187.68986283848344 A 83 83 0 1 0 91.31013716151654 187.68986283848344 L 100.50252531694167 178.49747468305833 A 70 70 0 1 1 199.49747468305833 178.49747468305833 Z" fill="#e0e0e0"></path><path stroke-linejoin="round" d="M 218.64768766478863 175.65292036172684 A 83 83 0 1 0 91.31013716151654 187.68986283848344 L 100.50252531694167 178.49747468305833 A 70 70 0 1 1 207.89564019921934 168.34583644964914 Z" fill="#509E60"></path><path stroke-width="2" d="M 150 59 L 150 16" stroke="#509E60" transform="rotate(124.19999999999999,150,129)"></path><text x="260.3325486082266" y="202.9114221246712" text-anchor="middle" style="font-size: 12px; fill: rgb(80, 158, 96); font-family: Roboto, Arial; font-weight: 300; cursor: default;"><tspan x="260.3325486082266" dy="0">96 % </tspan></text></g><g class="dxg-tooltip"><path fill="#000000" stroke="none" opacity="0.1" d="M 0 0" visibility="hidden"></path><path d="M 0 0 Z" visibility="hidden"></path><text x="0" y="0" text-anchor="middle" visibility="hidden" class="dxg-text" style="font-size: 12px; fill: rgb(255, 255, 255); font-family: Roboto, Arial; font-weight: 300; cursor: default;"><tspan x="0" dy="0">0</tspan></text></g><g class="dxg-tracker" stroke="none" stroke-width="0" fill="#000000" opacity="0.0001"><path stroke-linejoin="round" d="M 257.46938634135233 163.91892036436906 A 113 113 0 1 0 70.09693372592011 208.90306627407986 L 79.28932188134523 199.71067811865476 A 100 100 0 1 1 245.10565162951536 159.90169943749473 Z"></path><path stroke-linejoin="round" d="M 0 0 Z"></path><path stroke-linejoin="round" d="M 218.64768766478863 175.65292036172684 A 83 83 0 1 0 91.31013716151654 187.68986283848344 L 100.50252531694167 178.49747468305833 A 70 70 0 1 1 207.89564019921934 168.34583644964914 Z"></path></g></svg></div>
                        <ul class="actual ui-state-disabled">
                            <li class="atm ui-state-disabled">
                                Actual this month
                            </li>
                            <li class="hero ui-state-disabled">
                                96<span class="up">%</span>
                            </li>
                            <li class="flag ui-state-disabled">
                                <img alt="" height="35" src="/images/flags/TR.svg" width="35">
                            </li><li class="countryName ui-state-disabled">
                            TR
                        </li>

                        </ul>
                    </div>
                    <div class="legend">
                        <span class="icon-round key2"></span>Target
                        <span class="icon-round key1"></span>Last Month’s Actual
                        <span class="icon-round key3"></span>This Month’s Actual
                    </div>
                    <div class="indicators">
                        <ul>
                            <li class="indicator-image ui-state-disabled">
                                <span class="icon-image"></span>
                                <span class="icon-up_arrow key3"></span>
                            </li>
                            <li class="indicator-name ui-state-disabled">
                                <span class="icon-name"></span>
                                <span class="icon-up_arrow key3"></span>
                            </li>
                            <li class="indicator-available ui-state-disabled">
                                <span class="icon-available"></span>
                                <span class="icon-up_arrow key3"></span>
                            </li>
                            <li class="indicator-target ui-state-disabled">
                                <span class="icon-target"></span>
                                <span class="icon-up_arrow key3"></span>
                <span class="difference">
                        96%
                </span>
                            </li>
                        </ul>
                    </div>
                </div></li></ul></div></div>
    </div>
</div>
