<header id="header"></header>
<section class="container-fluid noPaddingLeftRight">
	<div class="row-fluid ">
		<div class="col-md-12 noPaddingLeftRight">
			<div id="content"></div>
		</div>
	</div>
</section>
