<header id="header"></header>
<nav class="side-left navbar navbar-default navbar-fixed-top" id="sidebar" role="navigation"></nav>
<section class="container-fluid noPaddingLeftRight">
	<div class="row-fluid ">
		<div class="col-md-12 noPaddingLeftRight">
			<div id="content"></div>
		</div>
	</div>
</section>
