<table class="table table-striped table-bordered noMargin">
    <thead>
    <tr>
		<th class="capitalize">Online Store</th>
        <th class="capitalize">Brand</th>
        <th class="capitalize">Product Description</th>
        <th class="capitalize">Perfect Name</th>
        <th class="capitalize">RPC</th>
        <th class="capitalize">UPC</th>
        <th class="capitalize">Score</th>
        <th class="capitalize">Final Result</th>
    </tr>
    </thead>

    <!-- want to insert collection children, here -->
    <tbody></tbody>

    <tfoot>
    <tr>
        <td colspan="8">{{footerMessage}}</td>
    </tr>
    </tfoot>
</table>
