<div class="panel panel-default ">
    <div class="panel-heading">
    <span class="panelHelp" title="" data-original-title="View of latest results by Online Store, Category or Brand">
    Comparison

    by Online Store on August 1st, 2014<span class="glyphicon glyphicon-question-sign"></span></span>
        <span class="slot1 pull-right"></span>
        <button type="button" class="display-all pull-right btn btn-default btn-sm hidden">Display All </button>
    </div>

    <div class="preloader-view row-fluid clearfix hide">
        <div class="pad col-md-12">
            <div class="alert alert-info text-center">Loading</div>
        </div>
    </div>

</div>
